html,
body {
  height: 100%;
}

body {
  background-color: black;
  color: #fff;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.muyu {
  position: relative;
  height: 220px;
  width: 220px;
  margin: 0 auto;
}

.sf {
  animation: suofang 0.2s;
}

.gongde {
  position: absolute;
  left: 114%;
  top: 0%;
  transform: translateX(-50%);
  width: 100px;
  height: 30px;
  font-size: 21px;
  z-index: 999;
}

.gongdejiayi {
  animation: textMove 0.5s;
}

/* 木鱼 */
@keyframes suofang {
  50% {
    transform: scale(0.8, 0.8);
  }

  100% {
    transform: scale(1, 1);
  }
}

/* 字体向上消失 */
@keyframes textMove {
  from {
    top: 0%;
    opacity: 1;
  }

  to {
    top: -4%;
    opacity: 0;
  }
}

[v-cloak] {
  display: none;
}
