html,
body {
  height: 100%;
}

body {
  background-color: black;
  color: #fff;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.muyu {
  position: relative;
  height: 220px;
  width: 220px;
  margin: 0 auto;
}

.suo {
  transform: scale(0.8, 0.8);
  transition: transform 0.2s;
}

.fan {
  transform: scale(1, 1);
  transition: transform 0.2s;
}

.gongde {
  position: absolute;
  left: 114%;
  top: 0%;
  transform: translateX(-50%);
  width: 100px;
  height: 30px;
  font-size: 21px;
  z-index: 999;
  animation: textMove 0.5s;
  animation-fill-mode: forwards;
}

/* 字体向上消失 */
@keyframes textMove {
  0% {
    top: 0%;
    opacity: 1;
  }

  100% {
    top: -10%;
    opacity: 0;
  }
}

[v-cloak] {
  display: none;
}