<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>电子木鱼</title>
    <link rel="stylesheet" href="./asset/css/default.css" />
    <link rel="shortcut icon" href="#" />
    <style></style>
  </head>
  <body>
    <div id="app" v-cloak>
      <!-- 木鱼 -->
      <div
        class="muyu"
        @mousedown="onClick"
        @mouseup="deClick"
        @touchstart="onClick"
        @touchend="deClick"
      >
        <!-- 功德 -->
        <div class="gongde" v-for="index in gongdeQuantity">功德+1</div>
        <div class="gongde" v-if="gongde">功德+1</div>
        <img :class="{suo, fan}" src="./asset/img/muyu.jpg" />
      </div>
    </div>
    <!-- 导入 Vue -->
    <script src="./asset/js/Vue.js"></script>
    <script>
      const App = {
        data() {
          return {
            suo: false,
            fan: false,
            gongdeQuantity: 0,
            gongde: false,
          };
        },
        created() {},
        mounted() {},
        methods: {
          onClick() {
            console.log("onClick");
            const music = new Audio("./asset/audio/muyu.mp3");
            music.play();
            this.suo = true;
            this.fan = false;
            this.gongdeQuantity++;
            this.gongde = false;
            if (this.gongdeQuantity === 3) {
              this.gongdeQuantity = 1;
              this.gongde = true; // 显示备用的
            }
          },
          deClick() {
            console.log("deClick");
            this.fan = true;
            this.suo = false;
          },
        },
      };
      const app = Vue.createApp(App);
      app.mount("#app");
    </script>
  </body>
</html>
